@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal; 
    
}

.homePage {
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-position: 0px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100; 
  font-style: normal; 
}

.destinationPage {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  background-size: cover;
}
.techPage {
  background-image: url(./assets//technology/background-technology-desktop.jpg);
  background-size: cover;
}

.Destination {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  background-size: cover;
}

.crewPage {
  background-image: url(./assets//crew/background-crew-desktop.jpg);
  background-size: cover;
}

.LOGO {
  background-image: url(./assets/shared/logo.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 0px 20px;
}

.Rightnav {
  backdrop-filter: blur(10px);
  position: relative;
}
.UNDERLINE:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 90px;
  height: 5px;
  background-color: rgb(190, 187, 187);

}
.UNDERLINE2:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 90px;
  height: 5px;
  background-color: rgb(190, 187, 187);

}
.UNDERLINE3:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 90px;
  height: 5px;
  background-color: rgb(190, 187, 187);

}


#ariel {
  animation: spin 50s linear infinite !important;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}